.forLeftList li{
  list-style-type: none;
}
.footerDIv{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: grey;
}
.footerDIv p:first-child {
  margin-right: 13px;
}
.footerDIv p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  cursor: pointer;
}
.footerDIv p:hover{
  color: #1976d2;
  text-decoration: underline;
}